%strong Solutions for Software Engineering for Internet Applications

%p
	I am reading
	%a{:href => "http://philip.greenspun.com/seia"} Software Engineering for Internet Applications
	and posting my solutions to the exercises on this website.

%p
	You can contact me at
	%a{:href => "mailto:lavigne.eric@gmail.com"} lavigne.eric@gmail.com

